/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* My CSS */
/* General */
* , *::before, *::after {
    box-sizing: border-box;
}
body {
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Body */
.background {
    background-image: url(../media/images/background.jpg);
}

/* Header */
.header {
    padding: 30px 0;
}
.heading {
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
/* Hero section */
.box {
    width: 30%;
    padding: 120px;
    text-align: center;
    background-color: #FF0148;
    font-size: 20px;
    color: black;
    border-radius: 16px;
}
.grad-linear {
    background-image: linear-gradient(to right, #2C2A22 10%, #FF0148 90%);
}
.grad-radial {
    background-image: radial-gradient(circle, #FF0148, #000000);
}
.article {
    margin: 40px 0;
}
.big-image {
    background-image: linear-gradient(to right, rgba(122,117,102, 0.5),  rgba(197,66,33, 0.5) ), url(../media/images/people-2.png);
    padding: 200px 500px;
    border-radius: 16px;
}